/* Basic table styling */
.main {
  max-width: 550px;
  margin: auto;
  padding: 0 6px;
}

table {
  width: 100%;
  border-collapse: collapse; /* No double borders between cells */
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
